/*Medula one, Righteous, Futura*/
@font-face {
    font-family: Italian;
    src: url(../fonts/italian.otf);
}


body{
	background-color: black;
}

a:hover{
	text-decoration: inherit !important;
	color:inherit !important;
}

a:visited{
	text-decoration: inherit !important;
	color:inherit !important;	
}

.purple{
	/*background-color:#89C4F4;*/
	background-image: url(../img/pentagon.png);
	
}

.fullWidthWrapper{
	width: 100%;
}

.fullWidthWrapper img{
	width: 100%;
}

.abs{
	position: absolute;
}

.noPadding{
	padding:0 !important;
}

.rel{
	position: relative;
}

.bgcFix{
	background-color: #ffffff;
}

.center{
	text-align: center;
	padding-left:0 !important;
}

.shadow{
}

.outline{
	border-bottom: solid;
	border-right: solid;
	border-width:4px;
	border-color: black;
}

.underline{
	border-bottom:solid;
	border-width:2px;
	border-color:black;
}

.rightBorder{
	border-right:solid;
	border-width:1px;
}

.halfWidth{
	width: 50%;
}

.lightBg{
	background-image:url('../img/transBgBlackLight.png');
}


#homeMeatball{
	padding-top:60px;
}

#menuMeatball{
	padding-top:40px;
}

#pressMeatball{
	padding-top:40px;
}

#bioMeatball{
	padding-top:270px;
}

#contactMeatball{
	padding-top: 100px;
	padding-left: 15%;
	padding-right: 15%;
}

#homePbj{
	padding-top:60px;
}

#menuPbj{
	padding-top:90px;
}

#pressPbj{
	padding-top:40px;
}

#bioPbj{
	padding-top:270px;
}

.meatballNavBarWrapper{
	position:relative;
	top:120px;
}

.meatballNavBar{
	/*position: fixed;*/
	z-index:20;
	padding-top:30px;
	padding-bottom:30px;
}

.meatballNavBar:hover{
	cursor:pointer;
	cursor:hand;
}

.meatballNavBar h2{
	font-family: "Questrial", sans-serif;
	background-color: black;
	color:white;
	padding:10px;
	padding-left:6px;
	font-size:17px;
}

.meatballNavBar img{
	width:80px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.pbjNavBarWrapper{
	position:relative;
	top:120px;
}

.pbjNavBar{
	/*position: fixed;*/
	z-index:20;
	padding-top:30px;
	padding-bottom:30px;
}

.pbjNavBar:hover{
	cursor:pointer;
	cursor:hand;
}

.pbjNavBar h2{
	font-family: "Medula One", cursive;
	background-image: url(../img/transBgBlack.png);	
	color:#eb9532;
	padding:10px;
	padding-left:6px;
	font-size:30px;
}

.pbjNavBar img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 65%;
}

.pbjBarWrapper{
	cursor:hand;
	cursor:pointer;
	position: relative;
	top:700px;
	width: 100%;
	max-width: 65px;
	height: 280px;
	padding-top:40px;
	padding-bottom:40px;
	border-left:solid;
	border-width:1px;
}

.pbjBar{
	position: relative;
	width: 90%;
	height: 100%;
	background-color: black;
}

.pbjBar img{
	position: relative;
	top: 64px;
	width: 100%;
	height: auto;
}

.pbjArrow{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 60% !important;
	margin-top:16px;
}

.meatballBarWrapper{
	cursor:hand;
	cursor:pointer;
	position: relative;
	top:700px;
	width: 50%;
	min-width:40px;
	height: 280px;
	padding-top:40px;
	padding-bottom:40px;
	border-left:solid;
	border-width:1px;
}

.meatballBar{
	position: relative;
	min-width: 40px;
	height: 100%;
	background-image: url(../img/transBgBlack.png);

}

.meatballBar img{
	position: relative;
	margin-top: 16px;
	width: auto;
	height: 70%;
}

.meatballArrow{
	top:0 !important;
	width: 65% !important;
	height: auto !important;
	margin-left:8px; 
	padding-top: 0px;
}


.logoWrapper{
	position: relative;
	width: 100%;
}

.logoWrapper img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:auto;
}

.iconWrapper{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding:20px;
	width: 150px;
}

.pbjJumbotron{
	background-image: url('../img/transBgBlack.png');
	padding:10px;
}

.iconWrapper img{
	display: inline-block;
}

.meatballMenu{
	padding-top:20px;
	padding-bottom:20px;
}

.pbjMenu{
	padding-top: 0;
	padding-bottom: 0;
}

.meatballHeader{
	color:#000000;
	font-family: 'Questrial', sans-serif;
	font-size:40px;
	padding-left:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
}

.meatballContent{
	font-size:24px;
	margin:20px;
	margin-left:40px;
	margin-right:0px;
	color:black;
	padding:8px;
	top:5px;
	left:5px;
	font-family: 'Italian';
	font-weight:500;
}

.meatballContent strong{
	font-size:22px;
	font-weight:00;
}

.pbjFooter{
	width: 100%;
	height: 100px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-image: url(../img/transBgBlackLight.png);
}

.pbjFooter img{
	height: 100%;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pbjFooter h1{
	font-family:"Medula One", Cursive;
	color: #eb9532;
	font-size:45px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.pbjHeader{
	font-family:"Medula One", Cursive;
	color: #eb9532;
	font-size:45px;
	padding:15px;
	background-image: url(../img/transBgBlack.png);
}

.pbjContent{
	font-size:22px;
	margin:20px;
	margin-left:0px;
	margin-right:0px;
	color:black;
	padding:15px;
	top:5px;
	left:5px;
	font-family: 'Roboto Slab', Serif;
	font-weight:300;
	background-image: url(../img/transBgBlackLight.png);
	color:#ffffff;
	text-shadow: 1px 1px 2px rgba(20, 40, 20, 1);
}

.pbjContent strong{
	color:#9A12B3;
	text-shadow: 1px 1px 1px rgba(40, 80, 40, 1);
}

.spaceTop{
	margin-top:50px;
}

.pressItem{
	display: block;
	height: 125px;
	margin-top:30px;
	max-width:260px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
}

.pressItem h2{
	font-family: 'Questrial', sans-serif;
	font-size:24px;
	margin:0;
	width: 100%;
	color:black;
	margin-left:10px;

}

.pressItem h3{
	color:black;
	margin-top:10px;
	padding:10px;
	font-size:16px;
	height:58px;
	border-top:solid;
	border-left:solid;
	border-width:1px;
	border-color:black;
	font-family: 'Italian';
}

.pbjPressItem{
	display: block;
	height: 125px;
	margin-top:30px;
	max-width:260px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	margin-bottom: 15px
}

.pbjPressItem h2{
	background-image: url(../img/transBgBlack.png);
	font-family: "Medula One", cursive;
	font-size:30px;
	margin:0;
	width: 100%;
	color:#eb9532;
	padding:6px;
	padding-left: 10px;
	text-shadow: 1px 1px 2px rgba(20, 40, 20, 1);
}

.pbjPressItem h3{
	background-image: url(../img/transBgBlackLight.png);
	color:white;
	margin-top:0px;
	padding:10px;
	font-size:18px;
	height:100%;
	border-width:1px;
	border-color:black;
	font-family: 'Roboto Slab', Serif;
	text-shadow: 1px 1px 2px rgba(20, 40, 20, 1);
}



.meatballLabel{
	display: block;
	/*font-family: 'Lato',sans-serif;*/
	font-family: 'Italian';	
}

.meatballInput{
	display: block;
	width: 100%;
	border:none;
	border-bottom:solid;
	border-width:1px;
	margin-top: 15px;
	margin-bottom: 15px;
	height:32px;
	font-size:26px;
	font-family: 'Cutive Mono', Serif;	
}

.meatballButton{
	background-color: white;
	border-width:1px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size:22px;
	padding:10px;
	padding-left: 60px;
	padding-right: 60px;
	font-family: 'Cutive Mono', Serif;
	font-weight: 700;
	margin-top:30px;
}

.meatballResponse{
	font-family: 'Cutive Mono', Serif;
	font-size:18px;
}

.mc-field-group{
	background-color: none;
}



#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }