/*Medula one, Righteous, Futura*/

body{
	background-color: black;
}

a:hover{
	text-decoration: inherit !important;
	color:inherit !important;
}

a:visited{
	text-decoration: inherit !important;
	color:inherit !important;	
}

.purple{
	background-color:#BE90D4;
}

.fullWidthWrapper{
	width: 100%;
}

.fullWidthWrapper img{
	width: 100%;
}

.abs{
	position: absolute;
}

.noPadding{
	padding:0 !important;
}

.rel{
	position: relative;
}

.bgcFix{
	background-color: #ffffff;
}

.center{
	text-align: center;
	padding-left:0 !important;
}

.shadow{
}

.underline{
	border-bottom:solid;
	border-width:2px;
	border-color:black;
}

.rightBorder{
	border-right:solid;
	border-width:1px;
}

.halfWidth{
	width: 50%;
}


#homeMeatball{
	padding-top:60px;
}

#menuMeatball{
	padding-top:40px;
}

#pressMeatball{
	padding-top:40px;
}

#bioMeatball{
	padding-top:270px;
}

#contactMeatball{
	padding-top: 100px;
	padding-left: 15%;
	padding-right: 15%;
}

#homePbj{
	padding-top:60px;
}

#menuPbj{
	padding-top:40px;
}

#pressPbj{
	padding-top:40px;
}

#bioPbj{
	padding-top:270px;
}

.navBarWrapper{
	position:relative;
	top:120px;
}

.navBar{
	/*position: fixed;*/
	z-index:20;
	background-image:url("../img/transBg.png");
	padding-top:30px;
	padding-bottom:30px;
}

.navBar:hover{
	cursor:pointer;
	cursor:hand;
}

.navBar h2{
	font-family: "Questrial", sans-serif;
	background-color: black;
	color:white;
	padding:10px;
	padding-left:6px;
	font-size:17px;
}

.pbjBarWrapper{
	position: relative;
	top:700px;
	width: 100%;
	max-width: 65px;
	height: 280px;
	padding-top:40px;
	padding-bottom:40px;
	border-left:solid;
	border-width:1px;
}

.pbjBar{
	width: 90%;
	height: 100%;
	background-color: black;
}

.pbjBar img{
	position: relative;
	top: 64px;
	width: 100%;
	height: auto;
}

.meatballBarWrapper{
	position: relative;
	top:700px;
	width: 100%;
	max-width:65px;
	height: 280px;
	padding-top:40px;
	padding-bottom:40px;
	border-left:solid;
	border-width:1px;
}

.meatballBar{
	width: 90%;
	height: 100%;
	background-color: black;
}

.meatballBar img{
	position: relative;
	top: 64px;
	width: 100%;
	height: auto;
}

.logoWrapper{
	position: relative;
	width: 100%;
}

.logoWrapper img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:auto;
}

.iconWrapper{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding:20px;
	width: 150px;
	background-image:url('../img/transBg.png');
}

.iconWrapper img{
	display: inline-block;
}

.meatballMenu{
	padding-top:20px;
	padding-bottom:20px;
}

.meatballHeader{
	color:#000000;
	font-family: 'Questrial', sans-serif;
	font-size:40px;
	padding-left:10px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
}

.meatballContent{
	font-size:22px;
	margin:20px;
	margin-left:40px;
	margin-right:0px;
	color:black;
	padding:8px;
	top:5px;
	left:5px;
	font-family: 'Cutive Mono', Serif;
	font-weight:500;
}

.meatballContent strong{
	font-size:22px;
	font-weight:00;
}

.spaceTop{
	margin-top:50px;
}

.pressItem{
	display: block;
	height: 125px;
	margin-top:30px;
	max-width:260px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
}

.pressItem h2{
	font-family: 'Questrial', sans-serif;
	font-size:24px;
	margin:0;
	width: 100%;
	color:black;
	margin-left:25px;

}

.pressItem h3{
	color:black;
	margin-top:10px;
	padding:10px;
	font-size:16px;
	height:58px;
	border-top:solid;
	border-left:solid;
	border-width:1px;
	border-color:black;
	font-family: 'Cutive Mono', Serif;
}



.meatballLabel{
	display: block;
	/*font-family: 'Lato',sans-serif;*/
	font-family: 'Cutive Mono', Serif;	
}

.meatballInput{
	display: block;
	width: 100%;
	border:none;
	border-bottom:solid;
	border-width:1px;
	margin-top: 15px;
	margin-bottom: 15px;
	height:32px;
	font-size:26px;
	font-family: 'Cutive Mono', Serif;	
}

.meatballButton{
	background-color: white;
	border-width:1px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size:22px;
	padding:10px;
	padding-left: 60px;
	padding-right: 60px;
	font-family: 'Cutive Mono', Serif;
	font-weight: 700;
	margin-top:30px;
}

.meatballResponse{
	font-family: 'Cutive Mono', Serif;
	font-size:18px;
}

.mc-field-group{
	background-color: none;
}



#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }